


            <!-- Blog Entries Column -->
            <div class="col-md-9 col-sm-9 col-xs-12" >
                <button id="go-back" ng-click="go_back()" class="btn btn-default"><a style="text-decoration:none"href=''><i class="fa fa-arrow-left" aria-hidden="true"></i> back</a></button>
                <!-- First Blog Post -->
                <div id="post">
                    <div>
                        <h2>
                            <a href="/#/post/{{post._id}}">{{post.title}}</a>
                        </h2>
                        <p class="lead">
                            by <a href="">{{post.author[0].name}}</a>
                        </p>
                        <p><span class="glyphicon glyphicon-time"></span> Posted on {{formatDate}}</p>
                        <hr>
                        <img class="img-responsive" src="{{post.image}}" alt="">
                         <a  class="btn btn-primary" style="margin-top:10px" href="https://www.facebook.com/sharer/sharer.php?u=https://profinder1.herokuapp.com/" target="_blank">
                            Share on Facebook
                        </a>
                        <hr>
                        <p ng-bind-html="content"></p>

                        <hr>
                    </div>
                </div>
                <div class="well">
                    <h3 class="text-center">** Views and Discussions **</h3>
                    <!--coments come here -->
                    <div id="comments">
                        <div class="well" style="background:white;padding-top:5px;padding-bottom:5px;margin:5px" ng-repeat="comment in post.comment">
                            <h4 style="display:inline;color:red">{{comment.name}}</h4>
                            <p style="float:right;display:inline">{{formatDate}}</p>
                            <p>{{comment.comment}}</p>
                        </div>
                    </div>
                    <hr>
                    <h3>Leave a comment</h3>
                    <p>Your email address will not be published. Required fields are marked *</p>
                    <br>
                    <div class="alert alert-danger" ng-show="formError">{{formError}}</div>
                    <form  ng-submit="onSubmit()">
        
                      <div class="form-group">
                        <label for="name">Name: *</label>
                        <input type="text" class="form-control comment" ng-model="comments.name">
                      </div>
                      <div class="form-group">
                        <label for="email">Email: *</label>
                        <input type="email" class="form-control comment" ng-model="comments.email">
                      </div>
                      <div class="form-group">
                        <label for="pwd">Comment: *</label>
                        <textarea class="form-control comment" id="comment" ng-model="comments.comment" style="resize:vertical"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>


            </div>

 