<!DOCTYPE html>
<html lang="en" ng-app="KD">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kathmandu Daily</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--custom css-->
    <link rel="stylesheet" href="stylesheets/style.css">
    <!--font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="javascripts/page.js"></script>
    <!--Moment js for time -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <!-- load angular-moment -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
        
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Adding angular js scripts -->
      <script data-require="angular.js@*" data-semver="1.3.15" src="https://code.angularjs.org/1.3.15/angular.js"></script>
      <script src="http://code.angularjs.org/1.0.4/angular-sanitize.min.js"></script>
      <script src="/lib/angular-route.min.js"></script><!--include route lib file-->
      <script src="http://code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
     
      <script src="/app.js"></script>

      <script src="/common/navigation/navigationCtrl.js"></script>
      <script src="/common/navigation/nav.directive.js"></script>
      <script src="/common/sidebar/sidebar.directive.js"></script>

      <script src="/posts/homeCtrl.js"></script><!--include home ctrl js file-->
      <script src="/singlePost/singlePostCtrl.js"></script><!--include singlePostctrl js file-->
      <!-- <script src="/productDetail/detailsCtrl.js"></script> -->

      <script src="/common/services/dataService.js"></script>

      <script>
        angular
        .module('KD')
        .controller('mainCtrl', mainCtrl);



        function mainCtrl($scope, $location,$interval,$timeout,mainService) { // service as parameter

                /* load subscription form */
                $timeout(function(){
                    $('#myModal').modal('show'); 
                }, 60000);   //60 sec    

                /* handle popular comment on basis of comment counts */ 
                $scope.comments=[]; // length of comments in desc order.
                
                mainService.postList()
                .success(function(data){
                    $scope.array=[]; // array consisiting of popular posts data.

                    for(var i=0;i<data.length;i++){
                        $scope.comments.push(data[i].comment.length);
                    }


                    $scope.comments.sort(function(a, b){ // sort array by maximum val
                        return b-a;
                    });
                    $scope.comments= $scope.comments.slice(0,4);
                    // console.log('comments:'+$scope.comments);

                    for(var i=0;i<data.length;i++){
                        for(var j=0;j<$scope.comments.length;j++){
                            if(data[i].comment.length===$scope.comments[j]){ // check if the two array matches
                                $scope.array.push(data[i]);
                            }
                        }
                    }
                    /* remove the duplicates */
                    $scope.array = $scope.array.filter( function( item, index, inputArray ) {
                        return inputArray.indexOf(item) == index;
                    });
                    // sort by maximum number of comments 
                    $scope.array.sort(function (a, b) {
                      return b.comment.length - a.comment.length;
                    });
                    /* make the length of array to be 4 */
                    $scope.array=$scope.array.slice(0,4);
                    console.log($scope.array);
                                   

                })
                .error(function(err){
                    console.log(err);
                });

                /* Managing the word in post in popular post view */

                $scope.trimContent = function(string) {

                    for (var i = 0; i < string.length; i++) {
                        if (string.length > 100) {
                            string = string.substr(0, 50) + ' .........'; // Trim String and make upto 250 characters
                        }
                    }
                    return string;
                };
                

        } /* function ends */
      </script>

</head>

<body class="container">
    <!--for facebook plugin -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=229434510832358";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <navigation></navigation>

    <!-- Page Content  container starts here -->
    <div>
                <h1 class="page-header text-center">
                    <strong>Kathmandu Daily</strong>
                    <small>all about KTM</small>
                </h1>

        <div class="row">

            <div ng-view> <!--angular view area-->
            </div>
                <!-- Blog Sidebar Widgets Column -->
            <sidebar></sidebar>


        </div>
    </div>
    <!-- /.container ends here-->
        <!-- /.row -->

        <hr>

    <div class="" style="width:100%;padding-top:20px">
        
            <!-- Footer -->
            <footer class="text-center" style="">
                <div class="row">
                    <div class="col-sm-4" style=";padding-top:30px">
                        <h3>Kathmandu Daily</h3>
                        
                        <p>Contact Us</p>
                        <p>About Us</p>

                    </div>
                    <div class="col-sm-4" class="" style=";padding-top:30px">
                        <h3>Social Network</h3>
                        
                        <a href="" class="btn btn-primary"><i class="fa fa-facebook" style="font-size:30px;"></i></a>
                        <a href="" class="btn btn-primary"><i class="fa fa-linkedin" style="font-size:30px;"></i></a>
                        <a href="" class="btn btn-primary"><i class="fa fa-twitter" style="font-size:30px"></i></a>
                    </div>
                    <div class="col-sm-4"  style=";padding-top:30px;text-align:center;">
                        <h3>Explore More</h3>
                        
                        <div class="row" >
                            <div class="col-sm-12 col-xs-12">
                                <ul class="list-unstyled" >
                                    <li><a style="color:white" href="">Social</a>
                                    </li>
                                    <li><a style="color:white" href="">Economy</a>
                                    </li>
                                    <li><a style="color:white" href="">Places around</a>
                                    </li>
                                    <li><a style="color:white" href="">Activities</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                    
                     <a class="btn btn-default" style="" href="/post">Post create</a>  
                </div>

                <hr style="width:70%">
                <!-- subscribe form -->
                <div class="row">
                    <div class="col-sm-4">
                        <!-- something may goes here -->
                    </div>
                    <div class="text-center col-sm-4 col-xs-12">
                            <div id="form" class="text-center" style="color:red;text-align:left">
                                <form role="form"  method="post" enctype="text/plain">
                                    <h2 style="text-align:center;color:#cdefff">Comment or Feedback</h2>
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                                    </div>                   
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control"name="comment" id="textarea" rows="5" placeholder="write Feedback here...."></textarea>
                                    </div>
                                    <button style="background:#66ccff" type="submit"id="submit" class="btn btn-default">Submit</button>
                                </form>
                                <br>
                            </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- something may goes here -->
                    </div>

                </div>
                <div style="background:black;padding:5px 0 5px 0">
                    <h4>Copyright &copy; Kathmandu Daily , <small><a href="http://users.metropolia.fi/~haria/" target="blank">Designed by Haria</a></small></h4>
                </div>
      
            </footer>
    </div>


    <!--Subscription form-->
    <div class="modal fade" id="myModal" role="dialog" style="border:1px solid gray">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><i style="font-size:30px;color:red"class="fa fa-envelope-o" aria-hidden="true"></i></h4>
                </div>
                <div class="modal-body">
                  <h3 style="color:blue">Subscribe to our Newsletters</h3>
                  <p>Kathmandu Daily is a source of your entertainments.Subscribe to our mailing list and get updated about updates ,news and fantastic posts.</p>
                    <form class="form-horizontal" style="padding:0 20px 0 20px">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Type your email....">
                      </div>
                    </form>
                    <br>
                    <button type="submit" class="btn btn-success">Subscribe</button>

                </div>

            </div>
        </div>
    </div>
  


</body>

</html>
