<!DOCTYPE html>
<html lang="en" ng-app="KD">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kathmandu Daily</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--custom css-->
    <link rel="stylesheet" href="stylesheets/style.css">
    <!--font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="javascripts/page.js"></script>
    <!--Moment js for time -->
    <script src="http://momentjs.com/downloads/moment.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Adding angular js scripts -->
      <script data-require="angular.js@*" data-semver="1.3.15" src="https://code.angularjs.org/1.3.15/angular.js"></script>
      <script src="/lib/angular-route.min.js"></script><!--include route lib file-->
     
      <script src="/app.js"></script>

      <script src="/common/directives/navigation/navCtrl.js"></script>
      <script src="/common/directives/navigation/nav.directive.js"></script>

      <script src="/posts/homeCtrl.js"></script><!--include home ctrl js file-->
      <script src="/singlePost/singlePostCtrl.js"></script><!--include singlePostctrl js file-->
      <!-- <script src="/productDetail/detailsCtrl.js"></script> -->

      <script src="/common/services/dataService.js"></script>

      <script>
        angular
        .module('KD')
        .controller('mainCtrl', mainCtrl);



        function mainCtrl($scope, $location,$interval,$timeout) { // service as parameter

                /* live current time */

                $interval(function(){
                    $scope.currentTime = moment().format('YYYY MM DD , hh:mm:ss a');
                }, 1000);

                /* load subscription form */
                $timeout(function(){
                    $('#myModal').modal('show'); 
                }, 30000);               
                

        } /* function ends */
      </script>

</head>

<body>
    <!--for facebook plugin -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=229434510832358";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <p style="display:hidden"></p>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="navheader_name"href="/#/">Kathmandu Daily</a>
            </div>
            <ul class="nav navbar-nav" id="green-circle">
              <li class="active"><div id="nav-circle" style="background-color:green;border-radius:50%;height:50px;width:50px;text-align:center"><p style="padding-top:17px">KD</p></div></li>
            </ul>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Services</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- second nav starts here -->
    <nav class="nav navbar-default" style=";position:fixed;top:40px;width:100%;" role="navigation" id="nav-second" ng-controller="mainCtrl">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="navheader_name"href="#"></a>
            </div>
            <ul class="nav navbar-nav navbar-right" >
                <li>
                    <a href="" style="color:black"><strong>{{currentTime }}</strong></a>
                </li>
                <li>
                    <a href="">News</a>
                </li>
                <li>
                    <a href="">Songs</a>
                </li>
                <li>
                    <a href="">News</a>
                </li>
                <li>
                    <a href="">Movies</a>
                </li>
            </ul>
        </div>

        <!-- /.container -->
    </nav>

    <!-- Page Content  container starts here -->

    <div ng-view> <!--angular view area-->
    </div>

    <!-- /.container ends here-->

    <!--Subscription form-->
    <div class="modal fade" id="myModal" role="dialog" style="border:1px solid gray">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><i style="font-size:30px;color:red"class="fa fa-envelope-o" aria-hidden="true"></i></h4>
                </div>
                <div class="modal-body">
                  <h3 style="color:blue">Subscribe to our Newsletters</h3>
                  <p>Kathmandu Daily is a source of your entertainments.Subscribe to our mailing list and get updated about updates ,news and fantastic posts.</p>
                    <form class="form-horizontal" style="padding:0 20px 0 20px">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Type your email....">
                      </div>
                    </form>
                    <br>
                    <button type="submit" class="btn btn-success">Subscribe</button>

                </div>

            </div>
        </div>
    </div>
  


</body>

</html>
