<% include header %>

<div  class="container"> <!--container starts-->
    <div class="row" style="">

        <div class="jumbotron">
          <form action="" enctype="multipart/form-data" method="post">
              <div class="form-group">
                <label>Title:</label>
                <input type="text" class="form-control" id="name" name="title" size="35">
                <label>Content:</label>
                <input type="text" class="form-control" id="brand" name="content">
                <label>Image:</label>
                <input type="file" class="form-control" id="image" name="image">

                <input type="submit" value="Submit"></input>

              </div>
          </form>
        </div>
    </div>

</div>

</body>
</html>
