

        

            <div class="col-md-3 col-xs-12 col-sm-3">
                                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Search here</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" style="border:1px solid gray">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Categories</h4>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <ul class="" id="category">
                                <li><a href="">Social</a>
                                </li>
                                <li><a href="">Economy</a>
                                </li>
                                <li><a href="">Places around</a>
                                </li>
                                <li><a href="">Activities</a>
                                </li>
                                <li><a href="">Hicking</a>
                                </li>
                                <li><a href="">Tour outside KTM</a>
                                </li>
                                <li><a href="">Feelings</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

            </div>

            <!-- Blog Entries Column -->
            <div class="col-md-6 col-sm-6 col-xs-12" >
                <div>
                    <h3 id="dataNotFound">{{DataNotFound}}</h3>
                </div>
            	<!-- First Blog Post -->
                <div id="posts">
                	<div ng-init="date=formatDate(post.createdOn)" ng-repeat="post in filteredPosts|limitTo:numPerPage">
    	                <h2>
    	                    <a href="/#/post/{{post._id}}">{{post.title}}</a>
    	                </h2>
    	                <p class="lead">
    	                    by <a href="">{{post.author[0].name}}</a>
    	                </p>
    	                <p><span class="glyphicon glyphicon-time"></span> Posted on {{date}}</p>
    	                <hr>
    	                <img class="img-responsive" src="{{post.image}}" alt="">
    	                <hr>
    	                <p ng-init="postContent=trimContent(post.content)">{{postContent}}</p>
    	                <a class="btn btn-primary" href="/#/post/{{post._id}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

    	                <hr>
                	</div>
                </div>
                <div class="row" id="pager">
                    <div class="col-sm-4 col-xs-4">
                        <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=0">
                            First
                        </button>
                        <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                            Previous
                        </button>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        <button class="btn btn-default"><strong>{{currentPage+1}}</strong> out of <strong>{{numberOfPages()}}</strong></button>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        <button class="btn btn-default" ng-disabled="currentPage >= items.length/numPerPage - 1" ng-click="currentPage=currentPage+1">
                            Next
                        </button>
                        <button class="btn btn-default" ng-disabled="currentPage >= items.length/numPerPage - 1" ng-click="currentPage=numberOfPages()-1">
                            Last
                        </button>
                    </div>
                </div>

            </div>
            



    